<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Reset Password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="passwordresetForm" (ngSubmit)="onSubmit()">
                            <div *ngIf="message" class="alert" [ngClass]="{'alert-success': !isError, 'alert-danger': isError}">
                                {{message}}
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="passwordresetForm.controls['email'].invalid && passwordresetForm.controls['email'].touched"> 
                                    <span class="fa fa-user p-2"></span> 
                                    <input formControlName="email" class="form-control" type="email" placeholder="Email" required> 
                                </div>
                            </div>
                            <small *ngIf="passwordresetForm.controls['email'].invalid && passwordresetForm.controls['email'].touched" class="text-danger">
                                *Valid email is required*
                            </small>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" [disabled]="passwordresetForm.invalid">Reset password</button>
                            <div class="text-center pt-4 text-muted">Go to Sign up <a id="forgot" href="#" routerLink="/signup">Sign up</a> </div>
                            <div class="text-center pt-4 text-muted">Go to Login <a id="forgot" href="#" routerLink="/login">Login</a> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




